{% extends '::base.html.twig' %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="bundles/osp/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="bundles/osp/css/admin.css" />
{% endblock %}

{% block bodyClass %}blue-grey lighten-5{% endblock %}

{% block body %}
    <nav class=" red lighten-2">
        <div class="nav-wrapper">
            <a href="#" class="gso-logo"><img src="bundles/osp/images/logo_white.png"></a>
            <ul id="nav-mobile" class="right">
                <li><a href="">Übersicht</a></li>
                <li><a href="">Einstellungen</a></li>
                <a href="/logout" class="waves-effect waves-light btn  grey lighten-1"><i class="material-icons left">input</i>Logout</a>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="bundles/osp/js/materialize.min.js"></script>
    <script type="text/javascript" src="bundles/osp/js/admin.js"></script>
{% endblock %}