{% extends '::base.html.twig' %}

{% block title %}OSP - Noten{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="/bundles/core/admin/css/style.css" />

{% endblock %}

{% block bodyClass %}blue-grey lighten-5{% endblock %}

{% block body %}
    <nav class=" indigo darken-4">
        <div class="nav-wrapper">
            <a href="#" class="gso-logo"><img src="/bundles/core/images/logo_white.png"></a>
            <ul id="nav-mobile" class="right">
                <li><a href="">Übersicht</a></li>
                <li><a href="">Einstellungen</a></li>
                <a href="/logout" class="waves-effect waves-light btn  grey lighten-1"><i class="material-icons left">input</i>Logout</a>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}

{% endblock %}

{% block javascripts %}
    <script src="/bundles/core/admin/js/scripts.js"></script>
{% endblock %}