html,
body {
    /*height: 100%;*/
}
html {

}
body {
}

.gso-logo img {
    height: 90%;
    margin: 2px 0 0 10px;
}

nav .btn i {
    height: 30px !important;
    line-height: inherit;
    font-size: 1.3rem;
}

.main.card-panel {
    width: 1000px;
    min-height: 300px;
    margin: 20px auto;
}

#notexisting, #existing {
    display: none;
}