{% extends 'CoreBundle::layout.html.twig' %}

{% block content %}

    <div class="main card-panel">
        <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="header">Excel Import</h2>
            </div>
        </div>

            <form method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file" value="" />
                <input type="submit" name="commit" value="Send" />
            </form>

        </div>
    </div>
{% endblock %}
