<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}GSO - OSP{% endblock %}</title>

        {%- include "MaterializeBundle:Materialize:css.html.twig" -%}

        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {% block stylesheets %}
        {% endblock %}


        {% image '@CoreBundle/Resources/public/images/fav.png'  output="fav.png" %}
        <link rel="icon" href="{{ asset_url }}" type="image/x-icon" />
        {% endimage %}


        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body class="{% block bodyClass %}{% endblock %}">

        {% block body %}{% endblock %}

        {% javascripts '@CoreBundle/Resources/public/vendor/jquery/*' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {%- include "MaterializeBundle:Materialize:js.html.twig" -%}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
