#notexisting {
    display: none;
}

.gso-logo img {
    height: 90%;
    margin: 3px 0;
}

.main.card-panel {
    width: 900px;
    margin: auto;
    margin-top: 30px;
}

.nav-wrapper {
    width: 900px;
    margin: auto;
}

.nav-wrapper .material-icons.left {
    height: 30px !important;
    line-height: inherit;
    font-size: 20px;
}

h2.header {
    margin: 5px 0 10px;
}

.waves-effect.waves-light.btn.orange.accent-3 {
    margin-left: 50px;
}

.blue {
    background-color: #428ecc !important;
}

.row.form-row {
    margin-bottom: 0;
}

#student_group_exists {
    margin: -10px 0 30px -15px !important;
}

#student_group_exists > label {
    margin-right: 50px;
}