#existing, #notexisting {
    display: none;
}

.gso-logo img {
    height: 90%;
    margin: 3px 0;
}


input:focus {
    background-position: 0 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.nav-wrapper {
    width: 900px;
    margin: auto;
}

.nav-wrapper .material-icons.left {
    height: 30px !important;
    line-height: inherit;
    font-size: 20px;
}

h2.header {
    margin: 0 0 0;
}

.margin-top-20 {
    margin-top: 20px;
}

.waves-effect.waves-light.btn.orange.accent-3 {
    margin-left: 50px;
}

.blue {
    background-color: #428ecc !important;
}

nav {
    position: fixed;
    top: 0;
    z-index: 10;
}

.alert {
    background: #ffeb3b;
    padding: 15px;
    position: absolute;
    width: 100%;
    top: 64px;
}

.alert {
    background: #d1d1d1;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 64px;
}

.alert.alert-danger {
    background: #ffeb3b;
}

.alert.alert-success {
    background: #9ccc65;
    color: #fff;
}

.alert.alert-warning {
    background: #c62828;
    color: #fff;
}

.alert .message {
    width: 900px;
    margin: auto;
    font-size: 16px;
}

.main.card-panel {
    width: 900px;
    margin: auto;
}

body {
    padding-top: 120px;
}

.row.form-row {
    margin-bottom: 0;
}

#student_group_exists > label {
    margin-right: 50px;
}

#student_group_exists {
    margin: -2px 0 17px -15px !important;
    padding-bottom: 20px;
}

.no-padding {
    padding: 0 !important;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 100% !important;
    }
}

.two-col-content .row > .col {
    padding: 0;
}

h2.header small {
    font-size: 30%;
    color: #cccccc;
    display: block;
    line-height: initial;
}

table table th {
    padding: 0;
}

.grades-th-border-color {
    border-bottom: 1px solid #ffffff;
}

.color-1 {
    background: #ffcc80;
}

.color-2 {
    background: #ffb74d;
}

.color-3 {
    background: #ff9100;
}

td, th {
    border-radius: 0;
}

table table td, table table th {
    padding: 15px 15px;
}

.min-h-50 {
    min-height: 50px;
}
.grades-table th {
    padding: 15px 15px;
}

.grades-table {
    margin-top: 30px;
    margin-bottom: 30px;
}

.grades-table table td {
    font-size: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.grades-table table th {
    padding-top: 0;
    font-weight: 400;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.detail-btn-group a {
    margin-left: 20px;
}

.grades-table th:first-child {
    border-radius: 3px 0 0 0;
}

.grades-table th:nth-child(3) {
    border-radius: 0 3px 0 0;
}

.grades-table tr td:first-child {
    border-radius: 0 0 0 3px;
}

.grades-table tr td:nth-child(3){
    border-radius: 0 0 3px 0;
}

.search-results {
    margin-bottom: 30px;
}